.table-view {
    -fx-background-color: white;
}

.table-cell {
    -fx-border-color: transparent; 
}

.table-view .column-header, 
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color: white;
}

.table-view .column-header .label {
    -fx-font-size: 16;
    -fx-text-fill: #005797;
    -fx-alignment: CENTER_LEFT;
}

.table-view .cell {
    -fx-cell-size: 30;
    -fx-text-fill: #000000;
    -fx-font-size: 15;
    -fx-alignment: CENTER_LEFT;
}
.table-view .table-row-cell:selected{
    -fx-background-color: #005797;
} 
.table-row-cell:selected {
    -fx-background-color: #005797;
}

.table-row-cell:selected .text {
    -fx-fill: white;
}


.Applicationlkol{
    -fx-background-color:transparent;
    -fx-background-radius: 3em;
}


.text-area *.text {
    -fx-text-alignment: center;
}