{% extends 'base.html.twig' %}
{% block title %}Ajouter evenement{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Créer</button>
    {{ form_end(form) }}
{% endblock %}